@inherits LayoutComponentBase

<FluentDesignTheme Mode="DesignThemeModes.Dark" CustomColor="#611f69" />

<div class="empty-layout">
    @Body
</div>

<style>
    .empty-layout {
        min-height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
</style>
