@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" HorizontalGap="10">
            <div style="font-weight: bold; font-size: 1.2rem;">FLUX</div>
            <FluentSpacer />
            <FluentButton Appearance="Appearance.Stealth">Help</FluentButton>
            <FluentButton Appearance="Appearance.Stealth">Profile</FluentButton>
        </FluentStack>
    </FluentHeader>
    
    <FluentBodyContent>
        @Body
    </FluentBodyContent>
</FluentLayout>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMenuProvider />
