<div class="animate-pulse bg-white/5 rounded-lg @Class" style="@Style"></div>

@code {
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public string Style { get; set; } = "";
}
