@page "/"
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Icons

<PageTitle>Fluent UI Test</PageTitle>

<FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center" Orientation="Orientation.Vertical" Style="height: 100%;">
    
    <FluentCard Style="width: 400px; padding: 20px;">
        <FluentHeader>
            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.Home())" Color="Color.Accent" />
            <FluentLabel Typo="Typography.Header">Chào mừng đến với Flux!</FluentLabel>
        </FluentHeader>
        
        <FluentDivider Style="margin: 15px 0;" />

        <FluentBodyContent>
            <p>Đây là dự án Flux đang chạy thử nghiệm Fluent UI Blazor.</p>
            
            <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Start">
                <FluentBadge Appearance="Appearance.Accent">C#</FluentBadge>
                <FluentBadge Appearance="Appearance.Neutral">Blazor</FluentBadge>
                <FluentBadge Appearance="Appearance.Neutral">.NET 10</FluentBadge>
            </FluentStack>
            
            <div style="margin-top: 20px;">
                <FluentButton Appearance="Appearance.Accent" @onclick="OnClick">
                    Nhấp vào tôi!
                </FluentButton>
                <span style="margin-left: 10px;">Số lần nhấp: @clickCount</span>
            </div>
        </FluentBodyContent>
    </FluentCard>

</FluentStack>

@code {
    private int clickCount = 0;

    private void OnClick()
    {
        clickCount++;
    }
}
